---

import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import PostContent from "@layouts/PostContent.astro";

import Tags from "@components/Tags.astro";

import BasicLayout from "@layouts/BasicLayout.astro";
import { getCover } from "@layouts/BasicLayout.astro";

import Article from "@components/Article.astro";
import Discussion from "@components/Discussion.astro";
import TableOfContents from "@components/TableOfContents.astro";
import { zennUrl } from "@lib/foreign";
import { ogpImagePath } from "@lib/ogp";
import { getAllPosts } from "@lib/util";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
    const posts = await getAllPosts();

    return (
        posts.map((post) => ({
            params: {
                id: post.id,
            },
            props: post,
        })) ?? []
    );
}) satisfies GetStaticPaths;

type Props = CollectionEntry<"posts">;
const post = Astro.props;

const { headings } = await render(post);
const willSubtractDepth = !headings.map((heading) => heading.depth).includes(1);
if (willSubtractDepth) {
    for (const heading of headings) {
        heading.depth -= 1;
    }
}

const coverImageOpt = await getCover(post.id);
const ogpImageUrl = ogpImagePath(post.id);
const origin = Astro.site?.origin;

const image = [origin + ogpImageUrl];
if (coverImageOpt) {
    image.unshift(origin + coverImageOpt.src);
}
const schemaArticle = {
    "@context": "http://schema.org",
    "@type": "Article",
    mainEntityOfPage: {
        "@type": "WebPage",
        "@id": origin,
    },
    headline: post.data.title,
    description: post.data.desc,
    image: image,
    datePublished: post.data.pubDate.toISOString(),
    dateModified:
        post.data.updatedDate?.toISOString() ?? post.data.pubDate.toISOString(),
    author: {
        "@type": "Person",
        name: "pullriku",
        url: "https://pullriku.net/about/",
    },
    publisher: {
        "@type": "Organization",
        name: "pullriku-blog",
        url: "https://pullriku.net/",
        logo: {
            "@type": "ImageObject",
            url: `${origin}/og-image.png`,
        },
    },
};
---
<BasicLayout title={post.data.title} desc={post.data.desc}, canonicalUrl={post.data.zenn ? zennUrl(post.id) : undefined} slug={post.id} keywords={post.data.tags} additionalSchemas={[schemaArticle]} }>
    <div class="px-0 md:px-4">
        <Tags tags={post.data.tags ?? []} />
        <div class="mx-auto justify-center lg:flex  gap-10">
            <PostContent post={post} coverImage={coverImageOpt}>
                <Article post={post} />
                <div class="mt-8">
                    <Discussion />
                </div>
            </PostContent>
            { /* 目次の列（スクロールのためのコンテナ） */ }
            <div class={"lg:h-auto lg:w-72 hidden lg:block" + (post.data.zenn ? "hidden" : "")}>
                <TableOfContents headings={headings} />
            </div>
        </div>
    </div>
</BasicLayout>

