---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import Article from "@components/Article.astro";
import TableOfContents from "@components/TableOfContents.astro";
// 必要なレイアウトやコンポーネントのインポート
import BasicLayout from "@layouts/BasicLayout.astro";
import PostContent from "@layouts/PostContent.astro";

// コンポーネントの Props 型定義（CollectionEntry は使用しない）
type Props = {
    post: CollectionEntry<"docs">;
};

const { post } = Astro.props;

const { headings } = await render(post);

// 見出しの深さ調整（最上位が depth 1 でない場合、全体を 1 減算する）
const willSubtractDepth = !headings.map((heading) => heading.depth).includes(1);
if (willSubtractDepth) {
    for (const heading of headings) {
        heading.depth -= 1;
    }
}
---
<BasicLayout title={post.data.title} desc={post.data.desc} slug={post.id}>
  <div class="px-0 md:px-4">
    <div class="mx-auto justify-center lg:flex  gap-10">
      { /* 記事の列 */ }
      <PostContent post={post}>
        <Article post={post} />
      </PostContent>
      { /* 目次の列（スクロールのためのコンテナ） */ }
      <div class={"lg:h-auto lg:w-72 hidden lg:block"}>
          <TableOfContents headings={headings} />
      </div>
  </div>
  </div>
</BasicLayout>
<style is:global>
  @import "tailwindcss";
  @plugin "@tailwindcss/typography";
  @config "../../tailwind.config.mjs";

  .remark-code-title {
    @apply text-base pl-3 rounded-t-lg font-bold bg-slate-600 text-white;
  }
  .remark-code-title+pre {
    @apply mt-0 rounded-t-none;
  }
</style>
