---
// 大きく表示される記事のプレビュー。md以上の画面幅で表示される。小さい画面では PostCard を使う。
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import zenn from "@assets/zenn.svg";
import PostCard from "@components/PostCard.astro";
import { getCover, getDefaultOgpImage } from "@layouts/BasicLayout.astro";
import { DEFAULT_OGP_IMAGE_PATH, LIGHT_OVERLAY } from "@lib/consts";
import { zennUrl } from "@lib/foreign";

type Props = {
    post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const cover = (await getCover(post.id)) ?? (await getDefaultOgpImage());
const href = post.data.zenn ? zennUrl(post.id) : `/posts/${post.id}`;
---

{/* displayがmd未満のときは PostCard */}
<article class="mb-4 md:hidden">
    <PostCard post={post} />
</article>

{/* displayがmd以上のときは HeroArticle */}
<article class="my-8 hidden justify-center md:flex">
    <a href={href}>
        <div
            class={`flex h-full gap-4 items-center shadow-2xl dark:shadow-none ${LIGHT_OVERLAY} dark:bg-slate-800 p-8 rounded-lg`}
        >
            {
                cover ? (
                    <Image
                        src={cover}
                        alt={`記事「${post.data.title}」のサムネイル`}
                        class="max-h-52 w-fit max-w-52 rounded-lg object-contain shadow-md"
                    />
                ) : (
                    <Image
                        src={DEFAULT_OGP_IMAGE_PATH}
                        alt={`記事「${post.data.title}」のサムネイル`}
                        width={208}
                        height={208}
                        class="max-h-52 w-fit max-w-52 rounded-lg object-contain shadow-md"
                    />
                )
            }
            <div class="flex h-full flex-col">
                <div class="my-auto">
                    <h1 class="text-xl font-bold hover:underline">
                        {post.data.title}
                    </h1>
                    <p>{post.data.desc}</p>
                </div>
                <div
                    class="bottom-0 mt-2 flex w-full flex-row items-center justify-end"
                >
                    {
                        post.data.zenn && (
                            <>
                                <Image
                                    src={zenn}
                                    alt="Zennのロゴ"
                                    width="20"
                                    height="20"
                                    class="mr-2 inline-block"
                                />
                                <p class="text-gray-500">外部サイト(Zenn)</p>
                            </>
                        )
                    }
                    <div class="ml-auto text-right text-sm text-gray-500">
                        <time
                            datetime={post.data.pubDate
                                .toISOString()
                                .split("T")[0]}
                            >{
                                post.data.pubDate.toISOString().split("T")[0]
                            }</time
                        >
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>
