---
import { DARK_BG, LIGHT_OVERLAY } from "@lib/consts";
import type { MarkdownHeading } from "astro";

type Props = {
    headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<div
    class={`
    hidden lg:block
    top-10 p-4
    break-words overflow-y-scroll
    max-h-[calc(100vh-5rem)] sticky
    rounded-lg ${LIGHT_OVERLAY} ${DARK_BG}
`}
>
    <p class="text-center">目次</p>
    <hr class="m-4 border-cyan-500 text-left dark:border-cyan-800" />
    {
        headings.map((heading) => (
            <a
                href={`#${heading.slug}`}
                class="block text-sm *:py-1 hover:underline"
            >
                {
                    // 見出しレベルに応じたインデント
                    heading.depth === 1 ? (
                        <span class="block font-semibold">{heading.text}</span>
                    ) : heading.depth === 2 ? (
                        <span class="block indent-4">{heading.text}</span>
                    ) : heading.depth === 3 ? (
                        <span class="block indent-8">{heading.text}</span>
                    ) : heading.depth === 4 ? (
                        <span class="block indent-12">{heading.text}</span>
                    ) : (
                        <span class="block indent-12">{heading.text}</span>
                    )
                }
            </a>
        ))
    }
</div>
