---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { BLOG_NAME, DARK_BG, LIGHT_BG } from '../lib/consts';
import type { NavigationProps } from '../components/Navigation.astro';

export interface MetaContent {
    title?: string;
    desc: string;
    slug?: string;
    keywords?: string[];
    canonicalUrl?: string;
};

type Props = MetaContent & NavigationProps;

const { title, desc, slug, keywords, canonicalUrl, selectedPage } = Astro.props;
const titleWithBlogName = title ? `${title} | ${BLOG_NAME}` : BLOG_NAME;
const defaultOgpImagePath = "/ogp-img.png";
const obImagePath = slug ? await getImagePathBySlug(slug) : defaultOgpImagePath;

export const headerPadding = "8";

export async function getImagePathBySlug(slug: string): Promise<string> {
    const defaultOgpImagePath = "/ogp-img.png";
    if (slug) {
        const pngsRecord = import.meta.glob(["/public/covers/*.png", "/public/covers/*.jpg", "/public/covers/*.jpeg"]);
        const pngs = Object.entries(pngsRecord);
        
        for (let [key, _image] of pngs) {
            if (key.split("/").pop()?.split(".")[0] === slug) {
                return key.replace("/public", "");
            }
        }
        return defaultOgpImagePath;
    } else {
        return defaultOgpImagePath;
    }
}
---
<!doctype html>
<html lang="ja" class={`${LIGHT_BG} ${DARK_BG} dark:text-white`}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content={desc}>

        {
            canonicalUrl && (
                <link rel="canonical" href={canonicalUrl}>
            )
        }

        {
            keywords && (
                <meta name="keywords" content={keywords.join(",")}>
            )
        }

        {/* favicon */}
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="pullriku" />
        <link rel="manifest" href="/favicon/site.webmanifest" />

        {/* OGPの設定 */}
        <meta property="og:title" content={titleWithBlogName}>
        <meta property="og:type" content="website">
        <meta property="og:url" content={Astro.url}>
        <meta property="og:image" content={obImagePath}>
        <meta property="og:site_name" content={BLOG_NAME}>
        <meta property="og:description" content="pullrikuによる技術ブログです。">
        <meta property="og:locale" content="ja_JP">

        <title>{titleWithBlogName}</title>
    </head>
    <body class="break-all">
        <Header selectedPage={selectedPage} />
        <div class=`py-${headerPadding}`>
            <slot />
        </div>
        <Footer />
    </body>
</html>
