---
import BasicLayout, { type MetaContent } from "./BasicLayout.astro";

type Props = MetaContent;

const { title, desc, slug, keywords, canonicalUrl } = Astro.props;
---

<BasicLayout title={title}, desc={desc}, slug={slug}, keywords={keywords}, canonicalUrl={canonicalUrl}>
    <div class="mx-auto px-4 lg:px-16">
        <slot />
    </div>
</BasicLayout>
